////
/// Colors
///

/// Theme 1
.theme--1 {
  --color-bg-main: rgb(58, 71, 100);
  --color-bg-sec: rgb(35, 44, 67);
  --color-bg-screen: rgb(24, 32, 52);

  --color-key-back-bg: rgb(99, 112, 151);
  --color-key-back-shadow: hsl(224, 28%, 35%);

  --color-key-toggle-bg: rgb(208, 63, 47);
  --color-key-toggle-shadow: rgb(147, 38, 26);

  --color-key-main-bg: rgb(234, 227, 220);
  --color-key-main-shadow: rgb(180, 165, 151);

  --color-text-nums: rgb(68, 75, 90);
  --color-text-disp: rgb(255, 255, 255);
  --color-text-back: rgb(255, 255, 255);
  --color-text-equals: rgb(255, 255, 255);
}

/// Theme 2
.theme--2 {
  --color-bg-main: hsl(0, 0%, 90%);
  --color-bg-sec: hsl(0, 5%, 81%);
  --color-bg-screen: hsl(0, 0%, 93%);

  --color-key-back-bg: hsl(185, 42%, 37%);
  --color-key-back-shadow: hsl(185, 58%, 25%);

  --color-key-toggle-bg: hsl(25, 98%, 40%);
  --color-key-toggle-shadow: hsl(25, 99%, 27%);

  --color-key-main-bg: hsl(45, 7%, 89%);
  --color-key-main-shadow: hsl(35, 11%, 61%);

  --color-text-nums: hsl(60, 10%, 19%);
  --color-text-disp: hsl(60, 10%, 19%);
  --color-text-back: hsl(0, 0%, 100%);
  --color-text-equals: hsl(0, 0%, 100%);
}
/// Theme 3
.theme--3 {
  --color-bg-main: hsl(268, 75%, 9%);
  --color-bg-sec: hsl(268, 71%, 12%);
  --color-bg-screen: hsl(268, 71%, 12%);

  --color-key-back-bg: hsl(281, 89%, 26%);
  --color-key-back-shadow: hsl(285, 91%, 52%);

  --color-key-toggle-bg: hsl(176, 100%, 44%);
  --color-key-toggle-shadow: hsl(177, 92%, 70%);

  --color-key-main-bg: hsl(268, 47%, 21%);
  --color-key-main-shadow: hsl(290, 70%, 36%);

  --color-text-nums: hsl(52, 100%, 62%);
  --color-text-disp: hsl(52, 100%, 62%);
  --color-text-back: hsl(0, 0%, 100%);
  --color-text-equals: hsl(198, 20%, 13%);
}

/// Fonts

$font: "League Spartan", sans-serif;
$font-weight: 700;
$font-size: 3.2rem;

/// Mixins

@mixin key-bottom($color) {
  &::before {
    content: "";
    display: block;
    width: 100%;
    background-color: inherit;
    height: 1.1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    z-index: 6;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    background-color: $color;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;

    z-index: 5;
    transition: all 0.2s;
  }
}

@mixin brighten {
  &:active {
    filter: brightness(112.5%);
  }
}
